/*///////////
////INICIO
////////////*/
#fondo_principal {
  width: 100%;
  position: relative;
}

#texto_1 {
  position: absolute;
  font-size: 1em;
  top: 1140px;
  left: 200px;
  font-family: "FNB Sans Regular";
  font-size: 40px;
  color: white;
}

#texto_2 {
  position: absolute;
  font-size: 1em;
  top: 1165px;
  left: 200px;
  font-family: "FNB Sans Regular";
  font-size: 60px;
  color: white;
}

.fondoIdentificacion {
  height: 100%;
  background-image: url("./img/colsanitas_soft-pag_2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}

#checkbox_1 {
  position: absolute;
  top: 310px;
  left: 12%;
  font-family: "FNB Sans Regular";
  font-size: 18px;
  color: white;
}

#tdocumento {
  position: absolute;
  top: 250px;
  left: 180px;
  font-family: "FNB Sans Regular";
  font-size: 30px;
  color: white;
}

#tcedula {
  position: absolute;
  top: 410px;
  left: 140px;
  font-family: "FNB Sans Regular";
  font-size: 30px;
  color: white;
}

#imark {
  position: absolute;
  font-size: 1em;
  top: 470px;
  left: 50px;
  font-family: "FNB Sans Regular";
  font-size: 20px;
  color: white;
}

#usr {
  position: absolute;
  top: 487px;
  left: 60px;
  width: 365px;
  height: 50px;
  border: 0px;
  border-color: white;
  font-family: "FNB Sans Regular";
  font-size: 50px;
  text-align: right;
  color: black;
}

#keyboard {
  position: absolute;
  top: 590px;
  left: 120px;
  width: 365px;
  height: 50px;
  border: 0px;
  border-color: white;
  font-family: "FNB Sans Regular";
  font-size: 60px;
  color: black;
}

#keyboard_2 {
  position: absolute;
  top: 850px;
  left: 420px;
  width: 365px;
  height: 50px;
  border: 0px;
  border-color: white;
  font-family: "FNB Sans Regular";
  font-size: 60px;
  color: black;
}

#checkbox {
  margin-right: 30px;
  font-size: 20px;
}
/*Código para visualización de botón*/
#invisible {
  visibility: hidden;
}
/* Código por librerias de Bootstrap https://bootsnipp.com */
.badgebox {
  opacity: 0;
}

.badgebox + .badge {
  /* Move the check mark away when unchecked */
  text-indent: -999999px;
  /* Makes the badge's width stay the same checked and unchecked */
  width: 27px;
}

.badgebox:focus + .badge {
  /* Set something to make the badge looks focused */
  /* This really depends on the application, in my case it was: */

  /* Adding a light border */
  box-shadow: inset 0px 0px 5px;
  /* Taking the difference out of the padding */
}

.badgebox:checked + .badge {
  /* Move the check mark back when checked */
  text-indent: 0;
}

.error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  font-size: 20px;
}

#error-identificacion {
  top: 560px;
  left: 60px;
  position: absolute;
}

#contract_1 {
  position: absolute;
  top: 390px;
  left: 100px;
  border: 0px;
  border-color: white;
  font-family: "FNB Sans Regular";
  font-size: 50px;
  color: black;
}

#contrato {
  position: absolute;
  font-size: 1em;
  top: 340px;
  left: 150px;
  font-family: "FNB Sans Regular";
  font-size: 20px;
  color: white;
}

#nombre_cliente {
  position: absolute;
  font-size: 1em;
  top: 200px;
  left: 75px;
  font-family: "FNB Sans Regular";
  font-size: 30px;
  color: white;
}

#nombre_cliente {
  position: absolute;
  font-size: 1em;
  top: 200px;
  left: 75px;
  font-family: "FNB Sans Regular";
  font-size: 30px;
  color: white;
}

#info_contrato {
  position: absolute;
  font-size: 1em;
  top: 235px;
  left: 75px;
  font-family: "FNB Sans Regular";
  font-size: 18px;
  color: white;
}

#hr_1 {
  position: absolute;
  top: 260px;
  left: 75px;
  color: white;
}

#hr_2 {
  position: absolute;
  top: 380px;
  left: 75px;
  color: white;
}

#vale {
  position: absolute;
  top: 300px;
  left: 350px;
  font-family: "FNB Sans Regular";
  font-size: 24px;
  color: white;
}

#v_vale {
  position: absolute;
  top: 297px;
  left: 575px;
  font-family: "FNB Sans Regular";
  font-size: 24px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  width: 105px;
  text-align: right;
}

#cantidad {
  position: absolute;
  top: 350px;
  left: 350px;
  font-family: "FNB Sans Regular";
  font-size: 24px;
  color: white;
}

#total {
  position: absolute;
  top: 400px;
  left: 350px;
  font-family: "FNB Sans Regular";
  font-size: 24px;
  color: white;
}

#tcompra {
  position: absolute;
  font-size: 1em;
  top: 530px;
  left: 70px;
  font-family: "FNB Sans Regular";
  font-size: 20px;
  color: white;
}

#imarkCantidad {
  position: absolute;
  font-size: 1em;
  top: 570px;
  left: 50px;
  font-family: "FNB Sans Regular";
  font-size: 20px;
  color: white;
}

#usrCantidad {
  position: absolute;
  top: 587px;
  left: 60px;
  width: 365px;
  height: 50px;
  border: 0px;
  border-color: white;
  font-family: "FNB Sans Regular";
  font-size: 50px;
  text-align: right;
  color: black;
}

#keyboardCantidad {
  position: absolute;
  top: 690px;
  left: 100px;
  width: 365px;
  height: 50px;
  border: 0px;
  border-color: white;
  font-family: "FNB Sans Regular";
  font-size: 60px;
  color: black;
}

#keyboard_2Cantidad {
  position: absolute;
  top: 1180px;
  left: 60px;
  width: 700px;
  height: 50px;
  border: 0px;
  border-color: white;
  font-family: "FNB Sans Regular";
  font-size: 60px;
  color: black;
}

#tdocumentoCompra {
  position: absolute;
  top: 250px;
  left: 30px;
  font-family: "FNB Sans Regular";
  font-size: 30px;
  color: white;
}

#terminarCompra {
  position: absolute;
  top: 500px;
  left: 30px;
  font-family: "FNB Sans Regular";
  font-size: 30px;
  color: white;
}
