/*///////////
////INICIO
////////////*/
#fondo_principal {
  width: 100%;
  position: relative;
}

#texto_1 {
  position: absolute;
  font-size: 1em;
  top: 1140px;
  left: 200px;
  font-size: 40px;
  color: white;
}

#texto_2 {
  position: absolute;
  font-size: 1em;
  top: 1165px;
  left: 200px;
  font-size: 60px;
  color: white;
}

.fondoIdentificacion {
  height: 100%;
  background-image: url("./img/colsanitas_soft-pag_2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}

#error_message {
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 26px;
  color: #161e73;
  width: 70%;
}

#error_message_contratos {
  position: absolute;
  top: 260px;
  left: 120px;
  font-size: 26px;
  color: #161e73;
  width: 70%;
}

#tdocumento {
  position: absolute;
  top: 250px;
  left: 180px;
  font-size: 30px;
  color: white;
}

#tcedula {
  position: absolute;
  top: 380px;
  left: 170px;
  /* */
  font-size: 30px;
  color: #019fd9;
}

#imark {
  position: absolute;
  font-size: 1em;
  top: 440px;
  left: 190px;

  font-size: 20px;
  color: white;
}

#usr {
  position: absolute;
  top: 457px;
  left: 200px;
  width: 365px;
  height: 50px;
  border: 0px;
  border-color: white;

  font-size: 50px;
  text-align: right;
  color: black;
}

#usr::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 30px;
}

#keyboard {
  position: absolute;
  top: 560px;
  left: 200px;
  width: 365px;
}

#aceptar_borrar {
  position: absolute;
  top: 1025px;
}

#aceptar_borrar_cantidad {
  position: absolute;
  top: 1065px;
  left: 20px;
}

#checkbox {
  margin-right: 30px;
  font-size: 20px;
}
/*Código para visualización de botón*/
#invisible {
  visibility: hidden;
}
/* Código por librerias de Bootstrap https://bootsnipp.com */
.badgebox {
  opacity: 0;
}

.badgebox + .badge {
  /* Move the check mark away when unchecked */
  text-indent: -999999px;
  /* Makes the badge's width stay the same checked and unchecked */
  width: 27px;
}

.badgebox:focus + .badge {
  /* Set something to make the badge looks focused */
  /* This really depends on the application, in my case it was: */

  /* Adding a light border */
  box-shadow: inset 0px 0px 5px;
  /* Taking the difference out of the padding */
}

.badgebox:checked + .badge {
  /* Move the check mark back when checked */
  text-indent: 0;
}

#error-identificacion {
  top: 560px;
  left: 60px;
  position: absolute;
}

#contract_1 {
  position: absolute;
  top: 470px;
  left: 140px;
}

#contrato {
  position: absolute;
  top: 400px;
  left: 150px;
  font-size: 30px;
  color: #019fd9;
}

.boton_contrato {
  background: url("./img/buttons/primario.png");
}

#contratoSinCompra {
  position: absolute;
  font-size: 1em;
  top: 600px;
  left: 150px;

  font-size: 25px;
  color: red;
}

#nombre_cliente {
  position: absolute;
  font-size: 1em;
  top: 200px;
  left: 75px;
  font-size: 30px;
  color: white;
}

#info_contrato {
  position: absolute;
  font-size: 1em;
  top: 238px;
  left: 75px;
  font-size: 18px;
  color: #019fd9;
}

#hr_1 {
  position: absolute;
  top: 260px;
  left: 75px;
  color: white;
}

#hr_2 {
  position: absolute;
  top: 380px;
  left: 75px;
  color: white;
}

#vale {
  position: absolute;
  top: 300px;
  left: 350px;
  font-size: 24px;
  color: white;
}

#v_vale {
  position: absolute;
  top: 297px;
  left: 575px;

  font-size: 24px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  width: 105px;
  text-align: right;
}

#cantidad {
  position: absolute;
  top: 350px;
  left: 350px;
  font-size: 24px;
  color: white;
}

#total {
  position: absolute;
  top: 400px;
  left: 350px;
  font-size: 24px;
  color: white;
}

#tcompra {
  position: absolute;
  top: 460px;
  left: 170px;
  /*  */
  font-size: 30px;
  color: #019fd9;
}

#imarkCantidad {
  position: absolute;
  font-size: 1em;
  top: 510px;
  left: 200px;

  font-size: 20px;
  color: white;
}

#usrCantidad {
  position: absolute;
  top: 527px;
  left: 210px;
  width: 365px;
  height: 50px;
  border: 0px;
  border-color: white;

  font-size: 50px;
  text-align: right;
  color: black;
}

#keyboardCantidad {
  position: absolute;
  top: 610px;
  left: 220px;
  width: 365px;
}

#keyboard_2Cantidad {
  position: absolute;
  top: 1180px;
  left: 60px;
  width: 700px;
  height: 50px;
  border: 0px;
  border-color: white;

  font-size: 60px;
  color: black;
}

#tdocumentoCompra {
  position: absolute;
  top: 250px;
  left: 30px;

  font-size: 20px;
  color: white;
}

#terminarCompra {
  position: absolute;
  top: 700px;
  left: 30px;

  font-size: 30px;
  color: white;
}

#mensaje-compra {
  position: absolute;
  top: 500px;
  left: 30px;

  font-size: 30px;
  color: white;
}

#tipos_identificacion {
  position: absolute;
  top: 300px;
  left: 125px;
  border: 0px;
  border-color: white;
  font-size: 50px;
  color: black;
}

.tipoId {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

#info_compra {
  position: absolute;
  font-size: 1em;
  top: 262px;
  left: 75px;

  font-size: 18px;
  color: white;
}

#instrucciones {
  position: absolute;
  top: 300px;
  left: 80px;
  z-index: 99;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

#boton_final {
  position: absolute;
  top: 550px;
  left: 80px;
  width: 80%;
  height: 50px;
  border: 0px;
  border-color: white;

  font-size: 60px;
  color: black;
}

#mensaje_final {
  position: absolute;
  font-size: 1em;
  top: 0px;
  width: 400px;
  left: 250px;
}

#imprimir {
  background: url("./img/buttons/imprimir.png");
  position: absolute;
  font-size: 1em;
  top: 250px;
  left: 10px;

  font-size: 40px;
  color: white;
}

#imprimir:hover {
  background: url("./img/buttons/imprimir_h.png");
  position: absolute;
  font-size: 1em;
  top: 250px;
  left: 10px;
  font-size: 40px;
  color: white;
}

#salir {
  background: url("./img/buttons/salir.png");
  position: absolute;
  top: 300px;
  left: 101px;
  border: 1px;
}

#salir:hover {
  background: url("./img/buttons/salir_h.png");
  position: absolute;
  top: 300px;
  left: 101px;
  border: 1px;
}

#reintentar {
  background: url("./img/buttons/reintentar.png");
  position: absolute;
  top: 300px;
  left: 384px;
  border: 1px;
}

#reintentar:hover {
  background: url("./img/buttons/reintentar_h.png");
  position: absolute;
  top: 300px;
  left: 384px;
  border: 1px;
}

#icono {
  position: absolute;
  font-size: 1em;
  top: 20px;
  left: 0px;

  font-size: 40px;
  color: white;
}

#resultado {
  position: absolute;
  font-size: 1em;
  top: 320px;
  left: 80px;

  font-size: 40px;
  color: white;
}

#home_button {
  background: url("./img/buttons/home.png");
  position: absolute;
  font-size: 1em;
  top: 1220px;
  left: 40px;

  font-size: 40px;
  color: white;
  border: 1px;
}

#home_button:hover {
  background: url("./img/buttons/home_h.png");
}

#home_button_compra {
  background: url("./img/buttons/home.png");
  position: absolute;
  font-size: 1em;
  top: 1260px;
  left: 20px;

  font-size: 40px;
  color: white;
  border: 1px;
}

#home_button_compra:hover {
  background: url("./img/buttons/home_h.png");
}

#aceptar_button {
  background: url("./img/buttons/aceptar.png");
  position: absolute;
  left: 384px;
  border: 1px;
}

#aceptar_button:hover {
  background: url("./img/buttons/aceptar_h.png");
}

#borrar_button {
  background: url("./img/buttons/borrar.png");
  position: absolute;
  left: 101px;
  border: 1px;
}

#borrar_button:hover {
  background: url("./img/buttons/borrar_h.png");
  position: absolute;
  left: 101px;
  border: 1px;
}

#uno {
  background: url("./img/buttons/1.png");
  position: absolute;
  border: 1px;
}

#dos {
  background: url("./img/buttons/2.png");
  position: absolute;
  border: 1px;
  left: 118px;
}

#tres {
  background: url("./img/buttons/3.png");
  position: absolute;
  border: 1px;
  left: 236px;
}

#cuatro {
  background: url("./img/buttons/4.png");
  position: absolute;
  border: 1px;
  top: 110px;
}

#cinco {
  background: url("./img/buttons/5.png");
  position: absolute;
  border: 1px;
  left: 118px;
  top: 110px;
}

#seis {
  background: url("./img/buttons/6.png");
  position: absolute;
  border: 1px;
  left: 236px;
  top: 110px;
}

#siete {
  background: url("./img/buttons/7.png");
  position: absolute;
  border: 1px;
  top: 220px;
}

#ocho {
  background: url("./img/buttons/8.png");
  position: absolute;
  border: 1px;
  left: 118px;
  top: 220px;
}

#nueve {
  background: url("./img/buttons/9.png");
  position: absolute;
  border: 1px;
  left: 236px;
  top: 220px;
}

#cero {
  background: url("./img/buttons/0.png");
  position: absolute;
  border: 1px;
  left: 118px;
  top: 330px;
}

#uno:hover {
  background: url("./img/buttons/1_h.png");
  position: absolute;
  border: 1px;
}

#dos:hover {
  background: url("./img/buttons/2_h.png");
  position: absolute;
  border: 1px;
  left: 118px;
}

#tres:hover {
  background: url("./img/buttons/3_h.png");
  position: absolute;
  border: 1px;
  left: 236px;
}

#cuatro:hover {
  background: url("./img/buttons/4_h.png");
  position: absolute;
  border: 1px;
  top: 110px;
}

#cinco:hover {
  background: url("./img/buttons/5_h.png");
  position: absolute;
  border: 1px;
  left: 118px;
  top: 110px;
}

#seis:hover {
  background: url("./img/buttons/6_h.png");
  position: absolute;
  border: 1px;
  left: 236px;
  top: 110px;
}

#siete:hover {
  background: url("./img/buttons/7_h.png");
  position: absolute;
  border: 1px;
  top: 220px;
}

#ocho:hover {
  background: url("./img/buttons/8_h.png");
  position: absolute;
  border: 1px;
  left: 118px;
  top: 220px;
}

#nueve:hover {
  background: url("./img/buttons/9_h.png");
  position: absolute;
  border: 1px;
  left: 236px;
  top: 220px;
}

#cero:hover {
  background: url("./img/buttons/0_h.png");
  position: absolute;
  border: 1px;
  left: 118px;
  top: 330px;
}
